.topContainer {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
}

.checkButton {
  padding: 5px 5px 5px 5px;
  text-align: center;
  align-items: center;
  display: flex;

  justify-content: space-between;
  max-width: 220px;
  margin: 0 auto;
  padding: 10px 0;
}
